.Footer {
background-color:#ECE8DD;
height: 150px;

}

.rights {

    color: #456A2C;
    position: relative;
    top: 30%;
    left: 29.45%;
    font-size: 22px;
}


.x {
    position: relative;
    top: 35%;
    left: 81%;
}

.insta {
    position: relative;
    top: 35%;
    left: 83%;
}

.youtube {
    position: relative;
    top: 33%;
    left: 85%;
}

.tiktok {
    position: relative;
    top: 35%;
    left: 87%;
}