.Why-natural-store{
    background-color: #4c782c;
    color: #eef2ec;
    height: 534px;
}

.img-1{
    width: 350px;
    height: 602px;
    padding-left: 910px;
    margin-top: -368px;
}

.img-2{
    width: 345px;
    height: 357px;
    padding-left: 62px;
    margin-top: -197px;
    border-radius: 25px;
    
}

.img-3{
    width: 345px;
    height: 357px;
    padding-left: 47px;
    margin-top: -197px;
    border-radius: 25px;
}

.p-1{
    padding-left: 65px;
    padding-top: 8px;
    width: 650px;
}

.Why-natural-store header{
    font-size: 30px;
    padding-left: 65px;
    padding-top: 64px;
}