@font-face {
  font-family: 'ApfelGrotezk-Regular';
  src: url('./ApfelGrotezk-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'ApfelGrotezk-Mittel';
  src: url('./ApfelGrotezk-Mittel.ttf') format('truetype');
  font-style: normal;
}

body {
  font-family: 'ApfelGrotezk-Regular', sans-serif;
}