@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/ApfelGrotezk-Regular.woff2') format('woff2');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/ApfelGrotezk-Mittel.woff2') format('woff2');
    font-style: normal;
  }
  
 
  body {
    font-family: 'ApfelGrotezk';
  
  }

  