.product-section{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(405px, 1fr));
    gap: 20px;
    padding: 80px;
    background-color: #111111;
}
.product-card {
    width: 450px;
    padding-left: 50px;
    text-align: start;
}

.img {
    width: 100%;
    height: 65%;
    background-color: #fff;
}

.product-name{
    color:#fff;
    margin: 10px 0;
}

.rating {
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
}

.rate-num{    
    border: 1px solid #fff;
    padding: 1px 8px;
    border-radius: 14px;
}

.reviews{
    color:#555
}

.description {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
}

.size {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
}

.size-1{
    font-size:16px;
    color:#555;
    margin:10px 0;
}
.add-to-cart {
    background-color: #111111;
    width: 450px;
    color: #fff;
    border: 1px solid #5D5D5D;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 13px;
    transition: background-color 0.3s ease;
    letter-spacing: 5px;
}

.add-to-cart:hover {
    background-color: #242424;
    transform: scale(1.05);
}
