.Why-natural-store{
    background-color: #4A732F;
    color: #eef2ec;
    height: 763px;
}

.p-1{
    padding-left: 65px;
    padding-top: 8px;
    width: 650px;
 
    
}

.img{
      
    position: absolute;
    right:-8%;
    top:183%;
  

   
}


.img-1{
    padding-left: 66%;
    position: absolute;
    top:186.8%
    

   

   
}



.img-2{
    
    position: absolute;
    top:250%;
    left:4.5%;
    border-radius: 25px;
   

    
}

.img-3{
    position: absolute;
    top:250%;
    left:35%;
    border-radius: 25px;
    
}



.Why-natural-store header{
    font-size: 30px;
    padding-left: 65px;
    padding-top: 64px;
}