.header{
    background-color: #FEFAEF;  
    height: 859px;
    display: flex;
    margin: 0;
    padding: 0;
}

.circle-button {
    width: 61px;
    height: 61px; 
    background-color: #FEFAEF; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    position: absolute;
    right:6%;
    top:50%;
    
    
}

.circle-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.1);
   
}


.circle-button img {
    width: 15px; 
    height: 26px; }




   
.header-logo{

width: 663.48px;
height: 264.51px;
position: absolute;
right: 56.3%;
top: 22%;


}



.para{
    position: relative;
    left: 8%;
    top: 41%;
    font-size: 25px;
    color: #7B786E;
    

}

.jar{
   
    position: absolute;
    right:14%;
    top:15%
}
.letter{

position: absolute;
right:6%;
top:-13%;
}


.alovira1{
position: absolute;
right: -2%;
top: 70%;

}



.alovira2{
position: absolute;
right:55%;
top:68%;
}
.alovira3{
    position: absolute;
    left: -12%;
    top: 26%;
    
}
.shop-slowly-button {

 width: 282px;
 height: 63px;
 background-color: #4A732F; 
 color: white; 
 font-size: 27px; 
 padding: 10px 20px; 
 border: none; 
 border-radius: 60px; 
 cursor: pointer; 
 text-align: center; 
 transition: background-color 0.5s ease;
 position: absolute;
    left: 8%;
    top: 75%;
        }


.shop-slowly-button:hover {
background-color: #161615;
color:#FEFAEF;

}     

.ns{
    position: absolute;
    left: 10.5%;
    top: 83%;
    color: #C5C2B9;



}